body {
  background-color: azure;
  margin: 10vh, 20vw;
}

h1 {
  /*width: 80%;*/
  margin: 40px auto 20 auto;
  font-size: 25px;
  color: blue;
}

h2 {
  position: relative;
  margin: 40px auto 20 auto;
  text-decoration: underline;
  font-size: 20px;
  color: darkmagenta;
}

/* Margin has 4 properties - TRBL = Trouble!! */
p {
  width: 80%;
  margin: 40px auto 0 auto;
  display: block;
}

#interests {
  width: 80%;
  margin: 40px auto 0 auto;
  display: block;
}

#skillSet {
  width: 80%;
  margin: 40px auto 0 auto;
  display: block;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: circle;
}

li {
  margin-top: 5px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}

footer {
  font-size: 12px;
}
