body {
  background-color: azure;
}

h1 {
  font-size: 25px;
  color: blue;
}

h3 {
text-decoration: underline;
font-size: 15px;
}

/* Margin has 4 properties - TRBL = Trouble!! */
p {
/* margin: 20px 10px; */
/* margin-top: 60px; */
width: 80%;
margin: 60px auto 0 auto;
}

h1 {
  color: red;
}